/* Playwrite IN */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: #27070d;
    padding-top: 50px;
    /* background: linear-gradient(45deg, rgba(46, 41, 42, 1), rgba(46, 41, 42, 0.8)); */
    overflow: hidden;
}

span {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(80, 73, 73, 0.5));
    animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

span::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(heart.png);
    background-size: cover;
    animation: moveShape 10s linear infinite;
}

@keyframes moveShape {
    0% {
        transform: translate(0) rotate(0deg);
    }
    100% {
        transform: translate(300px) rotate(360deg);
    }
}

/* ----------- GREETINGS ----------------- */

p {
    text-align: center;
    color: #cea6a6;
    font-size: 18px;
    font-family: 'Poppins', serif;
}

h1 {
    color: #fefefe;
    font-family: 'Playwrite IN', serif;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(90deg, #fefcfb, #f9e4c8, #f0d2b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------------- CONTAINER -------------- */

.card {
    /* background: #fefefe; */
    border: 6px solid #dcdcdc;
    border-top-width: 12px;
    border-bottom-width: 25px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.one {
    width: 100px;
    height: 150px;
    top: 200%;
    left: 150%;
    background: url(photo-1.jpg);
    background-size: cover;
    z-index: 2;
    animation: movePhoto1 2.5s linear forwards;
}

.two {
    width: 180px;
    height: 150px;
    top: 150%;
    left: 10%;
    background: url(photo-2.jpg);
    background-size: cover;
    z-index: 1;
    animation: movePhoto2 2s linear forwards;
}

.three {
    width: 150px;
    height: 130px;
    top: 20%;
    left: -105%;
    background: url(photo-3.jpg);
    background-size: cover;
    animation: movePhoto3 1s linear forwards;
}

.four {
    width: 120px;
    height: 120px;
    top: 50%;
    left: 12%;
    background: url(photo-4.jpg);
    background-size: cover;
    animation: movePhoto4 1.5s linear forwards;
}


@keyframes movePhoto1 {
    0% {
        top: 200%;
        left: 150%;
    }
    100% {
        top: 45%;
        left: 58%;
    }
}

@keyframes movePhoto2 {
    0% {
        top: 120%;
        left: -105%;
    }
    100% {
        top: 30%;
        left: 40%;
    }
}


@keyframes movePhoto3 {
    0% {
        top: 20%;
        left: -105%;
    }
    100% {
        top: 25%;
        left: 12%;
    }
}


@keyframes movePhoto4 {
    0% {
        top: 20%;
        left: -105%;
    }
    100% {
        top: 45%;
        left: 20%;
    }
}

/* ----------------- MESSAGE --------------- */

.direction {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 70%;
    left:0%;
    /* transform: translate(-50%, 108000%); */
    z-index: 10;
}

.direction p {
    font-family: 'Caveat', serif;
    font-size: 28px;
    text-shadow: 2px 2px 3px #27070d;
    line-height: 0;
    text-align: center;
    text-shadow: 0 0 1px #fff,
                 0 0 5px #fff,
                 0 0 10px #ff0000,
                 0 0 20px #ff0000;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 20px #ff0000,
                     0 0 30px #ff0000;
    }
    50% {
        text-shadow: 0 0 10px #fff,
                     0 0 10px #ff0000,
                     0 0 30px #ff0000,
                     0 0 50px #ff0000;
    }
}


/* -------------- VINLY --------------- */

.vinyl {
    position: absolute;
    bottom: -20%;
    left: 5.5%;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #111;
    background-image: repeating-radial-gradient(#181312, #181312 10%, #2c2424 15%);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.52),
                0 4px 8px 0 rgba(0, 0, 0, 0.41);
    animation: rotateDisc 10s  infinite linear;
    overflow: hidden;
}

.vinyl::before, 
.vinyl::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1) transparent transparent transparent;
    border-width: 150px 160px 150px 150px;
}

.vinyl::before {
    /* transform: rotate(80deg); */

}

.vinyl::after {
    top: 20px;
    /* left: 50px; */
    transform: rotate(-180deg);
}

.circle {
    position: relative;
    right: -35%;
    bottom: -35%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(disc-photo.jpg);
    background-size: cover;
    z-index: 1;
}



@keyframes rotateDisc {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}